<div class="component-container full-height">
  <div class="icon-container">
    <a href="https://instagram.com/pockethistory23?igshid=NzZlODBkYWE4Ng==" class="icon-link" target="_blank">
      <i class="pi pi-instagram" style="font-size: 9rem; color: pink;"></i>
    </a>
    <a href="https://www.youtube.com/@PocketHistory-uu7zp" class="icon-link" target="_blank">
      <i class="pi pi-youtube" style="font-size: 9rem; color: #ff0000;"></i>
    </a>
    <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fpockethistory23" class="icon-link" target="_blank">
      <i class="pi pi-twitter" style="font-size: 9rem; color: #0095ff;"></i>
    </a>
    <a href="https://www.facebook.com/profile.php?id=100093200877482" class="icon-link" target="_blank">
      <i class="pi pi-facebook" style="font-size: 9rem; color: #0077ff;"></i>
    </a>
  </div>
</div>

