<div class="component-container full-height">
  <div class="icon-container">
    <a href="https://www.instagram.com" class="icon-link" target="_blank">
      <i class="pi pi-instagram" style="font-size: 9rem; color: pink;"></i>
    </a>
    <a href="https://www.youtube.com" class="icon-link" target="_blank">
      <i class="pi pi-youtube" style="font-size: 9rem; color: #ff0000;"></i>
    </a>
    <a href="https://twitter.com" class="icon-link" target="_blank">
      <i class="pi pi-twitter" style="font-size: 9rem; color: #0095ff;"></i>
    </a>
    <a href="https://www.facebook.com" class="icon-link" target="_blank">
      <i class="pi pi-facebook" style="font-size: 9rem; color: #0077ff;"></i>
    </a>
  </div>
</div>

