<!--<div class="full-width-image">-->
<!--  <img src="../../../assets/carousel/Falcon_Heavy_rocket_test_flight.jpg" >-->
<!--  <div class="login-modal">-->
<!--    <div class="grid login-modal">-->
<!--      <p-card [style]="{ 'width': '360px', 'margin-bottom': '2rem','background-color': 'transparent' }">-->
<!--        <div class="grid">-->
<!--          <div class="col-12">-->
<!--            <div  style="color: white" class="centered-title">Sign up</div>-->
<!--          </div>-->
<!--          <div>-->
<!--            <label  style="color: white" for="username">Username:</label>-->
<!--            <input type="text" id="username" pInputText>-->
<!--          </div>-->
<!--          <div>-->
<!--            <label style="color: white" for="email">Email:</label>-->
<!--            <input type="text" id="email" pInputText>-->
<!--          </div>-->
<!--          <div>-->
<!--            <label style="color: white" for="password">Password:</label>-->
<!--            <input type="password" id="password" pInputText>-->
<!--          </div>-->
<!--          <div class="button-container">-->
<!--            <p-button label="Sign up" class="login-button"></p-button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </p-card>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="carousel-footer">
  <div class="grid">
      <div class="col-12">
        <div  style="color: white" class="centered-title">Sign up</div>
      </div>
      <div>
        <label  style="color: white" for="username">Username:</label>
        <input type="text" id="username" pInputText>
      </div>
      <div>
        <label style="color: white" for="email">Email:</label>
        <input type="text" id="email" pInputText>
      </div>
      <div>
        <label style="color: white" for="password">Password:</label>
        <input type="password" id="password" pInputText>
      </div>
      <div class="button-container">
        <p-button label="Sign up" class="login-button"></p-button>
      </div>
    </div>
</div>























