.menu-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.achievements-button {
  color: black;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header-game-mode {
  padding: 80px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
}

.menu-wrapper {
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 100px;
}

.page-wrapper {
  text-align: center;

  background-color: #5d6065;
  background-size: cover;
  background-position: center;
  height: 100VH;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 8rem;
}

.edit-button{
  margin-left: 3rem;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.right-edit-button {
  margin-right: 3rem;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.edit-button i,
.right-edit-button i {
  color: #555555;
  font-size: 20px;
}

.icon-bar{
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1rem;
}

.table-footer{
  padding: 120px;
}

.dialog-content {
  padding: 12px;
  width: 500px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
}

.input-container input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.avatar-picker {
  margin-bottom: 20px;
}

.avatar-buttons {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.avatar-button {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 4px;
}

.avatar-button.avatar-1 {
  background-image: url('src/assets/avatars/male-avatar-1.jpg');
}

.avatar-button.avatar-2 {
  background-image: url('src/assets/avatars/female-avatar-1.jpg');
}

.avatar-button:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Dodaj tutaj kolor tła, który chcesz zachować */
}


.selected-avatar {
  border: 2px solid green;
  box-shadow: 0 0 10px 7px rgba(0, 128, 0, 0.5); /* Dodaj tutaj wartości, które odpowiadają pożądanemu cieniowi */
}

.input-container {
  margin-bottom: 20px;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.save-button,
.cancel-button {
  margin-left: 10px;
}


