
<div class="carousel-footer">
  <h2 class="text-center pocket-title" style="padding-top: 150px;">PocketHistory</h2>
  <h2 class="text-center ranking-title" style="padding-top: 90px;">Najczęściej zadawane pytania i odpowiedzi</h2>
  <div class="container">
    <div class="center-content">
      <div  style="width: 60rem;">
        <div class="zindex">
          <p-accordion [activeIndex]="0"  class="text-left" >
            <p-accordionTab header="Jak rozpocząć grę?" >
              <p>
                Aby rozpocząć grę, musisz się najpierw zarejestrować, a następnie wybrać tryb gry.</p>
            </p-accordionTab>
            <p-accordionTab header="Jak edytować profil użytkownika?">
              <p>Aby zmienić ustawienia profilu należy otworzyć moduł edycji profilu w panelu gry po lewej stronie.</p>
            </p-accordionTab>
            <p-accordionTab header="Jakiego rodzaju pytania są w grze?">
              <p>
               W grze znajdują się pytania z zakresu historii świata, historii Polski, prahistorii, średniowiecza, nowożytności, starożytności.</p>
            </p-accordionTab>
            <p-accordionTab header="Jak utworzyć konto">
              <p>Aby założyć konto należy się zarejestrować, w lewym górnym rogu przycisku zapisz się.</p>
            </p-accordionTab>
            <p-accordionTab header="Jak działa tryb uczący">
              <p>Tryb nauki polega na zbieraniu pytań ze wszystkich trybów gry i na podstawie poprawnych i niepoprawnych odpowiedzi częściej wybiera pytania, na które odpowiedziałeś.</p>
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>
    </div>
  </div>


  <div style="padding-top: 150px">
    <h2 class="text-center ranking-title">Czym jest PocketHistory?</h2>
    <div class="container">

      <div class="about-content">
        <p>
          PocketHistory to aplikacja edukacyjna, która umożliwia naukę historii poprzez skoncentrowane nauczanie. Możesz zdobyć wiedzę z zakresu prehistorii, średniowiecza, czasów nowożytnych, starożytności oraz historii Polski.
        </p>
        <p>
          Dzięki moim interaktywnym lekcjom i materiałom edukacyjnym, będziesz mógł zgłębić różne okresy historyczne i poszerzyć swoją wiedzę na temat wydarzeń, postaci i kultur, które miały wpływ na naszą przeszłość. Oferuję różnorodne zasoby, takie jak teksty, obrazy, filmy i quizy, które pomogą Ci zrozumieć i zapamiętać najważniejsze informacje.
        </p>
        <p>
          Możesz wybrać konkretny okres historyczny, który Cię interesuje, lub eksplorować różne epoki, aby uzyskać szeroki wachlarz wiedzy historycznej. Moja aplikacja została stworzona z myślą o tym, abyś mógł uczyć się w sposób interaktywny i angażujący, aby historia była ciekawa i dostępna dla każdego.
        </p>
        <p>
          Nie czekaj dłużej, zacznij swoją przygodę z nauką historii już teraz i odkryj fascynujący świat przeszłości!
        </p>
      </div>
    </div>
  </div>

<div style="padding-top: 50px">
  <app-contact></app-contact>
</div>
</div>







