
<div class="carousel-footer">
  <div class="grid">
    <div class="col-12">
      <div style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);" class="centered-title">Zaloguj się</div>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="login()">
      <div>
        <label style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);" for="email">Email:</label>
        <input type="text" id="email" pInputText formControlName="email">
      </div>
      <div>
        <label style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);" for="password">Hasło:</label>
        <input type="password" id="password" pInputText formControlName="password">
      </div>
      <div class="button-container">
        <p-button [disabled]="!formGroup.valid" type="submit" label="Log in" class="login-button"></p-button>
      </div>
    </form>
    <div class="col-12">
      <p-toast key="toastFailed"></p-toast>
    </div>
  </div>
</div>





<router-outlet></router-outlet>


