
<div class="carousel-footer">
  <div class="grid">
    <div class="col-12">
      <div  style="color: white" class="centered-title">Sign in</div>
    </div>
    <div>
      <label  style="color: white" for="email">Email:</label>
      <input type="text" id="email" pInputText>
    </div>
    <div>
      <label style="color: white" for="password">Password:</label>
      <input type="password" id="password" pInputText>
    </div>
    <div class="button-container">
      <p-button label="Log in" class="login-button"></p-button>
    </div>
  </div>
</div>




<router-outlet></router-outlet>


