<p-card class="custom-card justify-content-center" header="Our story" style="align-items: center;">
  <p class="m-0 p-card-container" style="font-size: 1.9rem; word-wrap: break-word; text-align: center;">
    PocketHistory jest stroną internetową stworzoną jako praca licencjacka, która skupia
    się na innowacyjnym podejściu do nauczania historii, zwanej "uczeniem skoncentrowanym nauczaniu historii"
    (ang. "History-Centered Learning"). Celem tej pracy było opracowanie i wdrożenie interaktywnej platformy,
    która umożliwia uczniom zgłębianie i eksplorowanie różnych aspektów historii w sposób angażujący i interesujący.
  </p>
</p-card>
